:root {
  --dark-background-color: #1c1d25;
  --dark-hover-color: #202028;
  --dark-active-color: #14151a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 0 0 300px;
  transition: 0.3s;
}

/* Navigation bars */
.nav-bar {
  background-color: var(--dark-background-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transition: 0.3s;
}

#primary-nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
}

#secondary-nav-bar {
  display: none;
}

.nav-logo {
  font-family: "Source Code Pro", monospace;
  font-size: 50px;
  color: white;
  margin-top: 30px;
  padding: 10px;
  transition: 0.3s;
}
.nav-logo:hover {
  color: black;
  background-color: white;
}
.nav-logo:active {
  color: blue;
  background-color: white;
  transition: 0s;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 30px;
  width: 300px;
}

.nav-list > hr {
  margin: 0 20px;
}

#secondary-nav-list {
  width: 100vw;
}

.nav-list > li > a {
  text-decoration: none;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.nav-list > li > a:hover {
  background-color: var(--dark-hover-color);
}

.nav-list > li > a:active {
  background-color: var(--dark-active-color);
}

.socials {
  display: flex;
  margin-bottom: 30px;
}

.social {
  margin: 0 10px;
}

.hamburger {
  font-size: 25px;
  height: 50px;
  width: 50px;
  border: none;
  color: white;
  background-color: var(--dark-background-color);
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:active {
  background-color: var(--dark-active-color);
}

#primary-hamburger {
  position: fixed;
  z-index: 1;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#secondary-hamburger {
  width: 100vw;
  height: 7vh;
}

@media only screen and (max-width: 1000px) {
  body {
    margin: 7vh 0 0 0!important;
    transition: 0s;
  }

  #primary-nav-bar {
    display: none;
  }

  #secondary-nav-bar {
    position: fixed;
    height: 100vh;
    display: flex;
    top: -93vh;
  }

  #primary-nav-logo {
    display: none;
  }

  #primary-nav-list {
    display: none;
  }

  .socials {
    margin: 0;
  }

  #primary-class-socials {
    display: none;
  }

  #primary-hamburger {
    display: none;
  }
}
/* Navigation Bars */

section {
  background-color: white;
}

.hero {
  height: 100vh;
  background-color: #1c1d25;
  color: white;
  font-size: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 80px;
}

.button {
  height: 55px;
  width: 200px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
  user-select: none;
}
.button:hover {
  background-color: #ef744b;
  cursor: pointer;
}
.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  height: 300px;
  border-radius: 150px;
  object-fit: cover;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-card {
  height: 500px;
  width: 300px;
  box-shadow: 5px 5px 20px rgb(198, 198, 198);
}

.project-image {
  margin-top: 25px;
  width: 200px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: white;
}

/* @media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }
} */
